* {
  margin: 0px;
  padding: 0px;
}

/* Linking my logo font from Google Fonts*/
.playwrite-it-moderna-logo {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/*UPDATE THIS LATER: background gradients and texture styles*/
html {
  background: linear-gradient(9deg, #AFDCE0, #e7fdff);
  position: relative;
  font-family: "air-travelers-font";
}

/*styling website header -> renamed headers class*/
header{
    font-family: "Playwrite IT Moderna", cursive;
    text-align: center;
}

/*styling website logo*/
.logo{
    margin-top: 20px;
    letter-spacing: 5px;
}

/*styling website description*/
.websiteDescription{
    margin: 10px;
    font-size: 15px;
}

/*nav bar gray background styling*/
.navBackground{
    margin: 30px;
    padding: 5px;
    background-color: hsl(292deg 84% 5% / 50%);
    border-radius: .5rem;
}
/*nav bar links styling*/
nav{
    list-style-type: none;
    padding: 20px;
    font-size: 15px;
    font-family: "Playwrite IT Moderna", cursive;
    background-color: #AFDCE0;
    overflow: none;
    text-align: center;
    justify-content: space-between;
}
li {
  display: inline; /*puts list into a row*/
}
li a {
  text-decoration: none; /*gets rid of the underlines*/
  color:black;
  font-size: 1.3em;
  margin-left: 3em;
  
}
li a:hover {
  color: white;
}


/*creating log audit page*/
/* logging an audit tyles */
.tileBackground{
    background-color: palegoldenrod;
    padding: 20px;
    margin: 20px;
    
}